/*General Settings*/
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.section {
    display: flex;
    height: 500px;
}

.container {
    margin: 0 40dvh;
}

/*Header Adjustments*/
.header-container {
    display: flex;
    align-items: center;
    padding: 18px 0;
    justify-content: space-between;
}

 header,
 footer, 
 .section.section-1 {
    background-color: #1F2937;
}

.hero,
.logo {
    color: #F9FAF8;

}

.hero{
    font-size: 48px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
}

.links,
.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    display: flex;
    list-style: none;
    gap: 18px;
    padding: 0%;
    margin: 0%;
}

/*Section 1 Adjustments*/
.section-1 .container{
    display: flex;
    align-items: center;
    gap: 80px;
}

.image{
    color: #E5E7EB;
}

.image{
    display: flex;
    background-color: gray;
    height: 250px;
    width: 600px;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 12px;
    background-color: #3882f6;
    border-style: none;
    padding: 8px 30px;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 8px;
}

/*Section 2 Settings*/
.section-2 .container{
    display: flex;
    align-items: center;
    gap: 52px;
}

.section-2 {
    flex-direction: column;
    align-items: center;
}

.section-2 .title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 40px 0;
}

.info{
    max-width: 180px;
}

.info-image{
    height: 150px;
    width: 150px;
    border-style: solid;
    border-width: 5px;
    border-color: #3882f6;
    border-radius: 10px;
}

.info-text{
    font-size: 18px;
}

/*Section 3 Settings*/
.section-3{
    background-color: #E5E7EB;
    
}

.section-3 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
    margin: 0 500px;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin: 0;
    padding: 0 18px;
    text-align: justify;
    font-style: italic;
}

.quote-auth {
    font-weight: 600;
    font-size: 24px;
    align-self: flex-end;
}
/*Section 4 Settings*/
.section-4 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    gap: 52px;
    margin-top: 15dvh;
    margin-bottom: 15dvh;
    padding: 18px;
    flex: 1 1 30%;
    border-radius: 15px;

}

.call-to-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}
.call-to-action .main{
    color: #F9FAF8;
    font-size: 24px;
}

.section-4 button{
    border-style: solid;
    border-color: #E5E7EB;
}

.section-4 .button {
    margin-right: 5%;
    margin-left: 5%;

}

p {
    padding: 0;
    margin: 0;
}

/*Footer Settings*/
footer {
    text-size: 18px;
    color: #E5E7EB;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}